.image-1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    border: 5px solid !important;
    color: #2083ad;
    font-size: 2rem;
    font-weight: 600;
    
}

.image-portrait {
    border-radius: 50px;
    margin: 20px;
    background: #e0e0e0;
    box-shadow: 14px 16px 48px -13px rgba(0,0,0,0.96);
-webkit-box-shadow: 14px 16px 48px -13px rgba(0,0,0,0.96);
-moz-box-shadow: 14px 16px 48px -13px rgba(0,0,0,0.96);
}

.desc-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    font-size: 150%;
    color: #2083ad;
}